@page
@model Lab3.Pages_Hike.EditModel

@{
    ViewData["Title"] = "Edit";
}

<br><br>
<br><br>

<h1>Edit Hike</h1>

@* <h4>Hike</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Hike.HikeId" />
            <div class="form-group">
                <label asp-for="Hike.Name" class="control-label"></label>
                <input asp-for="Hike.Name" class="form-control" />
                <span asp-validation-for="Hike.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hike.Route" class="control-label"></label>
                <input asp-for="Hike.Route" class="form-control" />
                <span asp-validation-for="Hike.Route" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
