@page
@model Lab3.Pages_Signup.AddModel

@{
	ViewData["Title"] = "Signed Up for Hike";
}

<h4>Signed Up for Hike</h4>
<hr />
@Html.Raw(TempData["msg"])
<div>
	<a asp-page="../Hike/Index">Back to Hikes</a>
	@* <a class="nav-link text-dark" asp-area="" asp-page="/Product/Index">Products</a> *@
</div>
<div><a href="/Signup/View">My Scheduled Hikes</a></div>
