@page
@model Lab3.Pages_Signup.RemoveModel

@{
    ViewData["Title"] = "Withdrawn from hike";
}

<br><br>
<br><br>

<h1>Withdrawn from hike</h1>

<h4></h4>
<hr />
<div class="row">

</div>

<div>
    <a asp-page="../Signup/View">Back to My Hikes</a>
</div>
