html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;

}

body {
  border: 0;
  margin-bottom: 0px;
  background-color: rgb(255, 170, 60);
  background-image: url("../images/HomePageBackGround.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

header {
  margin-bottom: 100px;
}

* {
  box-sizing: border-box;
}


#registerTable {
  width: 600px;
  background-color: rgba(188, 188, 188, 0.5);

}

/* #manageAcountTable {
  background-color:rgba(212, 239, 157, 0.500);
}
.form-control{
  background-color:rgba(212, 239, 157, 0.500);
}
#Username.form-control{
  background-color:rgba(212, 239, 157, 0.500);
}
#Email.form-control{
  background-color:rgba(212, 239, 157, 0.500);
} */
.mySlides {
  display: none;

}

.cursor {
  cursor: pointer;
}

.prev,
.nexi {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.nexi {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.grow {
  display: none;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav-link {
  color: white !important;
  font-size: 18pt;
}

.nav-link:hover {
  /* font-weight: 500; */
  cursor: pointer;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  /* transition: 0.5s; */
  /* border-radius: 5px; */
  /* background-color: rgba(246, 237, 237, 0.747); */
  color: black !important;
  text-decoration: underline;
}



/* h1:hover {
  background-color: rgba(246, 237, 237, 0.747);
} */

h1 {
  margin-top: 10%;
  font-size: 40pt !important;
}

.btn-primary:hover {
  background-color: rgba(246, 237, 237, 0.747);
  color: black;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.btns:hover {
  background-color: rgba(246, 237, 237, 0.747);
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.filt:hover {
  background-color: rgba(246, 237, 237, 0.747);
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.srch:hover {
  background-color: rgba(246, 237, 237, 0.747);
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

#overflowFooter {
  overflow-x: hidden;
  position: absolute;
  /* position: fixed; */
  /* background-color: #2a2a2a !important; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  /* transition: 0.3s;
  border-radius: 5px; */
  text-align: center;
  background-color: rgb(255, 170, 60);
  bottom: 0%;
  width: 100%;
}

#overflowNav {
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  /* margin: 0%; */
  /* padding: 0%; */
  /* box-shadow: 0 2px 8px 0 rgba(0, 0, 0); */
  /* transition: 0.3s;
  border-radius: 5px; */
  background-color: rgb(255, 170, 60);
  border: 0 !important;
}



#ScheduledHike {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: rgba(246, 237, 237, 0.747);
}

#scheduledHikeRow:hover {
  background-color: rgb(160, 218, 199);
  ;
}



#todoTable {
  /* background-color: aqua; */
  width: 50%;
  margin-left: 5%;
}

#hikeDiv {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: rgba(246, 237, 237, 0.747);


}

.view-hikes {
  color: white;
  width: fit-content;
  margin: auto;
}



#homeTitle {
  color: rgb(255, 255, 255);
}

#todotableItem:hover {
  background-color: rgba(246, 237, 237, 0.747);
}

#map {
  margin-top: 5vh;
  width: 100%;
  height: 80vh;
}

.description-text-box {
  height: fit-content;

}

#hikeInfo {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding-left: 10px;
  width: 350px;
  height: 150px;
}

#users {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#userHover:hover {
  background-color: rgb(160, 218, 199);
}

.details-description {

  min-height: min-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 350px;
  height: 150px;
}

#hikeDetails {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: rgba(246, 237, 237, 0.747);
  padding-left: 10px;
}

#mapRoute {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; */
  /* background-color: rgba(246, 237, 237, 0.747); */
  background-color: rgba(34, 34, 34, 0.3);
  color: white;
  font-size: 16pt;
  padding: 0;
  width: 275px;
  height: fit-content;
}

#mapRouteDisplay {
  display: flex;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: rgba(246, 237, 237, 0.747); */
}

.ticker {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 60px;
  margin: 0 auto;

}

.news {
  width: 76%;
  background: #cc4444;
  padding: 0 2%;
  font-weight: bold;
}

.title {
  width: 20%;
  text-align: center;
  background: #c81c1c;
  position: relative;
}

.title:after {
  position: absolute;
  content: "";
  right: -16%;
  border-left: 20px solid #c81c1c;
  border-top: 33px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 33px solid transparent;
  top: 0;

}

.title h5 {
  font-size: 18px;
  margin: 11% 0;

}

.news marquee {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;

}

#warningMessage {
  width: 500px;
  height: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

#sendBtn {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

#aboutTitle {
  font-size: xx-large;
  font-weight: bold;
  font-size: 20;
  text-align: center;
}

#about {
  margin-top: 44%;
  color: rgb(255, 255, 255);
  font-size: 18pt;
  width: 70%;
  margin-left: 15%;
}

#videoBox {
  margin: auto;
  width: fit-content;
  height: fit-content;
  margin-bottom: 20px;
}


#privacy {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  font-style: oblique;
  font-family: serif;
  font-weight: 800;
  padding-left: 10px;
  padding-right: 10px;
}

#contact {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding-left: 10px;
  font-weight: 500;
}



#detail-images {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

/* #imgsDetails {
  display: flex;
} */

#logo {
  position: relative;
  margin-left: -25vh;
}

#create-hike {
  color: white;
  font-size: 20pt;
  font-weight: bold;
  text-decoration: underline;
  padding: 5px;
}

#create-hike:hover {
  color: rgb(255, 170, 60);
}

.hikes-page-content {
  /* background-color: wheat; */
  display: flex;
}

.search-menu {
  /* background-color: aqua; */
  width: 10%;
  color: white;
  font-size: 16pt;
  margin-left: 4px;
}

#hikeCalendar {
  margin: auto;
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  width: 80%;
  height: 700px;
  border-radius: 1%;
}

#calendar {
  width: 120%;
  height: 100%;
  padding: 60px;
}

#map {
  width: 80%;
}

.added-route-page * {
  color: white;
  padding-left: 3px;
  font-size: 28pt;
}

.added-route-page a {
  color: white;
  text-decoration: underline;
  font-size: 18pt;
}


.added-route-page a:hover {
  color: rgb(255, 170, 60);
}

.map-page-not-logged-in {
  margin-left: 2%;
}

.map-page-not-logged-in * {
  color: white;
}

.map-page-not-logged-in a {
  text-decoration: underline;
}


.contact-us {

  background-color: rgba(246, 237, 237, 0.530);
  margin: auto;
  margin-top: 125px;
  width: 50%;
  text-align: center;
  padding: 3px;
  font-size: 16pt;
  color: black;
}

.contact-us center {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 20pt;
  margin-bottom: 1.5%;
}

.contact-us a {
  text-decoration: underline;
  color: rgb(0, 6, 179);
}

.create-hike-form {
  width: 50%;
  margin: auto;
  margin-top: 125px;
  color: black;
  font-size: 16pt;
  /* background-color: aliceblue; */
}

.create-hike-form * {
  margin: auto;
  padding-bottom: 4px;
  
}

.create-hike-form h1 {
  width: fit-content;
}

.create-hike-form a {
  text-decoration: underline;
}

#back-to-list {
  margin-left: 35%;
  width: fit-content;
  /* background-color: #c81c1c; */
}

.hike-details-page * {
  color: white;
  height: fit-content;
}

.hike-details-page textarea {
  color: white;
  height: 200px;
  background-color: transparent;
  border: none;
  outline: none;
}

#hikedet td {
  /* background-color: yellow; */
  margin: 0;
  padding: 0;
  /* display: inline; */
}

.hike-details {
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 20pt;
  padding: 5px;
}

.gal-border {
  /* background-color: orange; */
  width: 500px;
  height: 350px;
  margin-left: 700px;
}

.galcontainer {
  margin: auto;
  max-height: 350px;
}

.details-map {
  margin: auto;
  margin-top: 5000px;
}

.caption-container {
  text-align: center;
  padding: 2px 16px;
  color: white;
}

.photo-arrows a {
  margin-right: 330px;
}

.user-list{ 
  margin-bottom: 15px;
}

.page-delete-hike-form{
  width: 70%;
  margin: auto;
  padding: 5px;
  border-radius: 1%;
  background-color: rgba(255, 255, 255,0.8);
}


.page-delete-hike-form dd{ 
  /* background-color: red; */
  padding-left: 15%;
}

h1,
h2,
h3{
  color: white;
}

.col-md-4{
  background-color: rgba(0, 0, 0, 0.3);
  margin-left: 5%;
}

main h1 {
  margin-left: 5%;
}

.create-account-page{
  width: fit-content;
  margin: auto;
  margin-top: 25vh;
}

