@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Us";
}
@*<h1>@ViewData["Title"]</h1>
<div id="contact">*@
    <div class="card border-success mb-3" id="contact-us">
        <h3 class="card header"id="contactHeader"><center>Contact Us</center></h3>
         <div class="row card-body text-success">
         <p>Hike Planner</p>
    <p>801 St Joseph Street,</p>
    <p> Gatineau, QC, J8Z1B1,</p>
    <p>Canada.</p>
    <p>Tel: 819-222-2222</p>
    <p>privacy@hikeplanner.com.</p>
    <div class="card-footer">
                 <p><a href="/Index">www.HikePlanner.com</a></p>
    <p><a href="/Index">my.hikeplanner.com</a></p>
    </div>
    
  
    @*<p>Hike Planner</p>
    <p>801 St Joseph Street,</p>
    <p> Gatineau, QC, J8Z1B1,</p>
    <p>Canada.</p>
    <p>Tel: 819-222-2222</p>
    <p>privacy@hikeplanner.com.</p>
    <p><a href="/Index">www.HikePlanner.com</a></p>
    <p><a href="/Index">my.hikeplanner.com</a></p>
</div>*@