@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>
<div id="contact">
    <p>Hike Planner</p>
    <p>801 St Joseph Street,</p>
    <p> Gatineau, QC, J8Z1B1,</p>
    <p>Canada.</p>
</div>