@page
@model ContactModel
@{
    ViewData["Title"] = "Contact Us";
}

<div class="contact-us">
    
        <center class="card header">Contact Us</center>
    

    <p>Hike Planner</p>
    <p>801 St Joseph Street,</p>
    <p> Gatineau, QC, J8Z1B1,</p>
    <p>Canada.</p>
    <p>Tel: 819-222-2222</p>
    <p>privacy@hikeplanner.com</p>

    <p><a href="/Index">www.HikePlanner.com</a></p>
    <p><a href="/Index">my.hikeplanner.com</a></p>
</div>