@page
@using Lab3.Models;
@using Microsoft.AspNetCore.Identity
@model IndexModel

@inject SignInManager<HikeUser> SignInManager
@inject UserManager<HikeUser> UserManager
@{
	ViewData["Title"] = "Home page";

	ViewBag.message = "hello";
}

<div class="text-center">


	<h1 class="display-4">Welcome to Hike Planner🚶‍♂️ @Model.UserEmail </h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
